@use 'foundations/color';
@use 'foundations/font';

@mixin styles() {
    @include font.init();
    @include color.init();

    .form-control {
        font-family: var(--font-content);
    }

    // reset radio button
    input[type="radio"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
    }

    #wrap {
        /* testing position sticky issue*/
        /* fallback for Safari 14  */
        overflow: hidden;
        /* prefer clip to allow sticky header descendant*/
        overflow: clip;
    }

    body {
        background: var(--color-bg-primary);
        min-width: 400px;
        max-width: 480px;
        overflow-x: hidden;
    }

    h1 {
        font-size: var(--text-xl);
        font-family: var(--font-heading);
        font-weight: 900;
    }

    h2 {
        font-size: var(--text-lg);
        font-family: var(--font-heading);
    }

    h3,
    p,
    span {
        font-size: var(--text-base);
        font-family: var(--font-content);
    }

    main {
        background-color: var(--color-bg-secondary);
    }
}