body {
    min-width: 300px;
    max-width: 480px;
}

main {
    background-color: bisque;
}

h2,
h3,
p,
span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

#title h1 {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo {
    width: 25%;
}

#about {
    margin-left: 0.5em;
}

#about p {
    margin-left: 1em;
}

#about h2 {
    color: purple;
}

#alergens {
    margin-top: 1em;
    font-size: smaller;
    background-color: #eee;
    padding: 0.5em;
}

#alergens .important {
    font-weight: bold;
}

#contact {
    margin-top: 1em;
    background-color: thistle;
    padding: 0.5em;
}

#contact h2 {
    margin-left: 0.5em;
}

#contact ul {
    list-style-type: none;
}

#contact li {
    margin-top: 1em;
    font-size: larger;
    font-weight: bold;
}

#copyright {
    margin-top: 1em;
    background-color: #006;
    padding: 0.1em 2em;
}

#copyright p {
    font-size: small;
    color: #eee;
    text-indent: -1em;
}

#copyright span {
    font-size: large;
    vertical-align: middle;
}

#menu {
    padding: 1em 0;
}

#menu h2 {
    text-align: center;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    background-color: purple;
    width: 80%;
    color: thistle;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    margin-bottom: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    background-color: thistle;
    color: purple;
    text-align: center;
    width: 4em;
    line-height: 4em;
    border-radius: 50%;
}