@use 'color' as *;
@use 'font' as *;
@use 'theme' as *;

@mixin base-styles {

    @font-face {
        font-family: "ShadowsIntoLightTwo-Regular";
        src: url("../../assets/fonts/ShadowsIntoLightTwo-Regular.ttf");
    }

    :root {
        @include fonts("ShadowsIntoLightTwo-Regular",
            ('Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif));

        @include theme($color-dark-red,
            $color-mid-pink,
            black,
            $color-cream,
            $color-dark-red,
            $color-mid-pink,
            0);
    }

    :root[data-theme="dark"] {
        @include theme($color-mid-yellow,
            $color-mid-yellow,
            black,
            $color-dark-brown,
            $color-mid-brown,
            $color-mid-yellow,
            1);

        .invertible {
            filter: invert(var(--setting-filter));
        }
    }
}